body{
    font-family: 'Montserrat', sans-serif;
    max-width: 1000px;
    margin: 0 auto 0 auto;
}
table {
    background: black;
    color: black;
    border-spacing: 1.5px;
    width: 100%;
    margin-bottom: 1.5px;
}
button{
    max-width: 1000px;
    width: 100%;
    font-size: 300%;
    background-color: white;
    color: black;
    border: 1px solid black;
    margin: 0 0 1% 0;
    padding-bottom: 5px;
}
th {
    background: white;
    padding: 5px;
    height: auto;
    font-weight: 900;
}
td {
    background: white;
    padding: 5px;
    height: auto;
}
.t1{
    width: 33.33%;
    font-weight: 900;
}
.t2{
    width: 33.33%;
}
.t3{
    width: 33.33%;
}
.bb{
    font-weight: 600;
    text-align: center;
}
.aa{
    font-weight: normal;
    font-size: 0.8em
}