body {
    margin: 0;
}

a {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #000;
	position: absolute;
	background-color: #fff;
	opacity: 0.5;
}

a:hover {
	opacity: 1;
	box-shadow: 3px 3px #000;
}